*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #F7F7F7;
}
.header_icon{
	display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
li{
	display: inline-block;
	margin: 30px;
	vertical-align: middle;
	font-family: 'IBM Plex Sans', sans-serif;

}
.wrapper{
	margin-left: 790px;
}
.nav_list {
  margin-right: 10px;
  display: inline-block;
}
.nav_list::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: black;
  margin-left: 10px;
  vertical-align: middle;
}
a{
	text-decoration: none;
	color: black;
}
.nav_list:last-child::after {
  display: none;
}
.container{
	padding-left: 100px;
}
h1{
	font-size: 40px;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 10px;

}
.title{
	font-size: 30px;
	width: 450px;
	padding-top: 50px;
	font-family: 'IBM Plex Sans', sans-serif;
}
.paragrap_style{
	width: 400px;
	padding-top: 40px;
	font-size:20px ;
	font-family: 'IBM Plex Sans', sans-serif;

}
.eye_icon{
	width: 30px;
	vertical-align: middle;
	margin-left: 10px;
}
.button_paragrap{
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
	font-size: 11px;
	color: white;
}
.contacter_button{
	background-color: #FF7600;
	margin-top: 60px;
	border-color:#FF7600;
	border-radius: 3px;
	height: 40px;

}
.soc_icon{
	width: 30px;
	vertical-align: middle;
	margin-left: 30px;
}
h2{
	font-size: 30px;
	padding-top: 130px;
	font-family: 'IBM Plex Sans', sans-serif;
	letter-spacing: 10px;
}
.paragrap_style1{
	width: 600px;
	padding-top: 50px;
	font-size: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
}
.boxes{
	display: inline-block;
	width: 1225px;
	height: 450px;
	box-shadow: 0 24px 48px rgba(17,16,62,0.12);
	margin: 50px;
	background-color:#0865DE;
	color: white;
}
.boxes_h4{
	font-size: 30px;
	padding-left: 70px;
	font-family: 'IBM Plex Sans', sans-serif;
	padding-top: 30px;

}
.boxes_h5{
	padding-left: 70px;
	padding-top: 40px;
	font-size: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
}
.boxes_paragrap{
	padding-left: 70px;
	font-size: 13px;
	padding-top: 10px;
	color: #D1D1D1;
}
.box{
	display: inline-block;
}
.box{
	display: inline-block;
}
.outils{
	font-size: 12px;
	display: inline-block;
	padding-top: 100px;

}
.outils_button{
	width: auto;
	height: 30px;
	font-size: 11px;
	margin-left: 10px;
	background-color:white;
	box-direction: none;
	border-color: white;
	font-family: 'IBM Plex Sans', sans-serif;
}
.WEBSITE_APP{
	color: #959595;
	font-size: 12px;
}
.paragrap_style2{
	width: 260px;
}
.moon_hotel_img{
	display: inline-block;
	margin-top: 40px;
	vertical-align: middle;
}
.moon_hotel_info{
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}
.Terre-des-Hommes{
	padding-top: 10px;
}
.WEBSITE_APP{
padding-top: 10px
}
.paragrap_style2{
	padding-top: 30px;
	line-height: 21px;
}
.VOIR-LE-CASE-STUDY{
	color: #002D69;
}
.hotel_box{
	background-color:white ;
	width: 1195px;
	height: 400px;
	box-shadow: 0 24px 48px rgba(17,16,62,0.12);
}
.block1{
	width: 300px;
	height: 500px;
	box-shadow: 0 24px 48px rgba(17,16,62,0.12);
	margin-top: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 50px;
}
.build{
	width: 300px;
}
.VOIR-LE-PROJET{
	color: #002D69;
	padding-top: 40px;
}
.block1_container{
	padding-left: 30px;
}
.button_div{
	text-align: center;
	margin-right: 210px;
}
.EDUCATION{
	font-family: 'IBM Plex Sans', sans-serif;
	padding-top: 100px;
	font-size: 25px;
}
.paragrap_style3{
	width: 400px;
	line-height: 35px;
	font-size: 18px;
	padding-top: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #262626;
}
.div_info{
	display: inline-block;
	margin-left: 200px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #262626;
}
.div_info1{
	display: inline-block;
}
.THEMATIQUE{
	display: inline-block;
	padding-top: 100px;
}
.THEMATIQUE_button{
	width: auto;
	height: 30px;
	background-color: #0865DE;
	color: white;
	border-color:#0865DE ;
	margin: 3px;
	font-family: 'IBM Plex Sans', sans-serif;
}
.REFERENCES{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 25px;
	padding-top: 200px;
}
.paragrap_style4{
	width: 500px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	line-height: 30px;
	padding-top: 40px;
	color: #262626;
}
.boxesss{
	display: inline-block;
}
.boxx{
	width: 150px;
	display: inline-block;
}
.box1{
	display: inline-block;
}
.eight_box{
	margin-top: 150px;

}
.eight_box_and_info{
	background-color: white;
	width: 1200px;
	padding-left: 70px;
}
.DUR_DUR{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
	padding-top: 50px;

}
.style_paragrap4{
	width: 450px;
	font-size: 18px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #262626;
	line-height: 30px;
	padding-top: 50px;
}
.ON_EST{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 20px;
	padding-top: 50px;

}
.paragrap_style5{
	width: 450px;
	font-size: 18px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #262626;
	line-height: 30px;
	padding-top: 50px;
}
.info3{
	display: inline-block;
	margin-top: 60px;
}
.info4{
	display: inline-block;
	margin-left: 120px;
}
.eye_icon2{
	width: 30px;
	vertical-align: middle;
	margin-left: 10px;
}
.button_paragrap1{
	display: inline-block;
	margin-left: 15px;
	margin-right: 10px;
	font-size: 11px;
	color: black;
	font-family: 'IBM Plex Sans', sans-serif;
}
.button_div2{
	margin-top: 60px;
}
.ELISA{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 17px;
	padding-top: 50px;
	padding-left: 30px;
}
.TERRE{
	font-size: 12px;
	color: #959595;
	padding-top: 20px;
	padding-left: 30px;
}
.paragrap_style6{
	width: 370px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #000000CC;
	line-height: 30px;
	font-size: 14px;
	padding-top: 30px;
	padding-left: 30px;
}
.elisa_box{
	width: 400px;
	height: 300px;
	box-shadow: 0 24px 48px rgba(17,16,62,0.12);
	display: inline-block;
	margin: 30px;

}
.heart_icon{
	width: 40px;
	margin-left: 350px;
	vertical-align: middle;
}
.elisa_box3{
	display: inline-block;
	width: 400px;
	height: 340px;
	box-shadow: 0 24px 48px rgba(17,16,62,0.12);
}
.OUS_CONTACTER{
	font-size: 15px;
	text-align: center;
}
.number{
	color: #959595;
	padding-top: 50px;
	text-align: center;
}
.info{
	color:#959595 ;
	padding-top: 30px;
	text-align: center;
}
.number_and_info{
	width: 220px;
	height: 400px;
	box-shadow:0 24px 48px rgba(17, 16, 62, 0.12) ;
	background-color:lightgray;
	vertical-align: middle;
	margin-top:80px ;
}
.number_and_info{
	display: inline-block;
}
.NEWSLETTER{
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
}
.paragrap_style7{
	width: 450px;
	color: #111111;
	line-height: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	padding-left: 100px;
	padding-top: 60px;
}
.email_div{
	width: 500px;
	height: 400px;
	box-shadow:0 24px 48px rgba(17, 16, 62, 0.12) ;
	display: inline-block;
	vertical-align: middle;
	margin-top: 80px ;
}
.email{
	padding-left: 100px;
	color: #111111;
}
.OK{
	background-color: blue;
	width: 40px;
	height: 40px;
	text-align: center;
	color: white;
}
.email_input{
	width: 250px;
	height: 40px;
}
.Email_button{
	margin-left: 100px;
	margin-top: 20px;
	border-color: #0865DE;
}
.footer_icon{
	display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.footer_paragrap{
	vertical-align: middle;
}
